@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
}
